@use 'sass:color';
@use '../base/variables' as *;

.footer {
    background-color: $secondary-color;
    color: $white;
    padding: 3rem 0;

    &-nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }

    &-link {
        color: color.change($white, $alpha: 0.7);
        text-decoration: none;
        padding: 0.5rem 1.25rem;
        transition: color 0.2s;

        &:hover {
            color: $white;
        }
    }

    &-copyright {
        text-align: center;
        color: color.change($white, $alpha: 0.7);
        font-size: 0.875rem;
    }
} 